# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [141]:
# your code here
orders = pd.read_csv("Orders.csv")


"""
identify two groups of customers from the data set. The first group is VIP Customers
whose aggregated expenses at your global chain stores are above the 95th percentile (aka. 0.95 quantile).
The second group is Preferred Customers whose aggregated expenses are between the 75th and 95th percentile.
"""

orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [122]:
# your code here
# First calculate total expenditure of each customers on dataset:
agg_customer_exp = orders.groupby(["CustomerID"]).agg({"amount_spent": "sum"}, reset_index = True)

# calculate 95th percentile (0.95 quantile) and 75th percentile (0.75 quantile) of the amount spend 

q95 = agg_customer_exp.quantile(0.95)
q75 = agg_customer_exp.quantile(0.75)

# Now select customer as "VIP" or as preferred using boolean mask:

vip_customer = (agg_customer_exp > q95).reset_index()
vip_customer = vip_customer.rename(columns={"amount_spent": 'is_VIP'})

preferred_customer = (agg_customer_exp[(agg_customer_exp > q75 ) & (agg_customer_exp <= q95)]).reset_index()
preferred_customer = preferred_customer.rename(columns={"amount_spent": "is_Preferred"})

# number count of vip_customer
print((vip_customer[vip_customer['is_VIP'] == True]).nunique)

# number count of preferred customer:
print(preferred_customer.nunique())

<bound method DataFrame.nunique of       CustomerID  is_VIP
0          12346    True
10         12357    True
12         12359    True
50         12409    True
55         12415    True
...          ...     ...
4207       18109    True
4229       18139    True
4253       18172    True
4292       18223    True
4298       18229    True

[217 rows x 2 columns]>
CustomerID      4339
is_Preferred     867
dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [132]:
# your code here
# merge the orders and vip_customer dataframe and create vip_orders
vip_orders = pd.merge(left = orders,
                      right = vip_customer, 
                      left_on= "CustomerID",
                      right_on = "CustomerID", 
                      how = "inner")
# use aggreagation to count countries 

vip_country = vip_orders[vip_orders["is_VIP"] == True].groupby(["Country"]).agg(num_vip_customers=("CustomerID", "nunique"))

#vip_count_country = (vip_count_country.sort_values(by = "is_VIP", ascending = False)).rename(columns = {"is_VIP": "total_count"})
vip_country

                 num_vip_customers
Country
Australia                        2
Belgium                          1
Channel Islands                  1
Cyprus                           1
Denmark                          1
EIRE                             2
Finland                          1
France                           9
Germany                         10
Japan                            2
Netherlands                      1
Norway                           1
Portugal                         2
Singapore                        1
Spain                            2
Sweden                           1
Switzerland                      3
United Kingdom                 177

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [140]:
# your code here
vip_preferred_orders = pd.merge(left = vip_orders,
                      right = preferred_customer, 
                      left_on= "CustomerID",
                      right_on = "CustomerID", 
                      how = "inner")
vip_preferred_country = (vip_preferred_orders[(vip_preferred_orders["is_VIP"] == True)])  or (vip_preferred_orders[(vip_preferred_orders["is_Preferred"] == True)]).groupby(["Country"]).agg(num_vip_customers=("CustomerID", "nunique"))
vip_preferred_country                                                                                     
#vip_country = vip_orders[vip_orders["is_VIP"] == True].groupby(["Country"]).agg(num_vip_customers=("CustomerID", "nunique"))

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().